# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Local configuration
local.properties

# Android Studio
.idea/
*.iml
*.iws
*.ipr

# OS files
.DS_Store
Thumbs.db

# Build outputs
app/build/
*.apk
*.aab

# Kotlin
.kotlin/

# Captures
captures/

# External native build
.externalNativeBuild/
.cxx/
