<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".ui.compose.debug.ComposeRouteHarnessActivity"
            android:exported="true"
            android:label="Compose Route Harness"
            android:theme="@style/AppThemeDayNight.NoActionBar" />
        <receiver
            android:name=".ui.compose.debug.ComposeRouteOverrideReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.v2ray.ang.fdroid.DEBUG_SET_COMPOSE_ROUTE" />
                <action android:name="com.v2ray.ang.DEBUG_SET_COMPOSE_ROUTE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
